Source: chicanery
Section: unknown
Priority: extra
Maintainer: Rob Weir <rweir@ertius.org>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: chicanery
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
